h1 {
  color: #001BD9;
  text-align: center;
  font-size: 60px;
  font-family: 'Hind', sans-serif;
}

h2 {
  text-align: center;
  font-family: 'Hind', sans-serif;
  font-size: 30px;
}

body {
  background-color: white;
}

#page {
  margin-right: 200px;
  margin-left: 200px;

}

p {
  color: black;
  text-align: center;
  font-family: 'Dosis';
  font-size: 20px;
}

#navigation {
    color: white;
    display: flex;
    list-style-type: none;
    margin: auto;
    margin-right: 20px;
    margin-left: 20px;
    padding: 7px 50px;
    font-size: 20px;
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    justify-content: space-around;
    background-color: #001BD9;
    overflow: hidden;
    border: none;
    border-radius: 10px;

  }


.nav {
    display: inline;
    color: white;
    text-decoration: none;
    font-family: 'Hind', sans-serif;
}

.disclaimer {
    color: red;
    margin-left: 300px;
    margin-right: 300px;
    font-size: 20px;
}

.legal {
  margin-left: 300px;
  margin-right: 300px;
  font-size: 18px;
}

.answers li {
list-style: upper-alpha;
}

label {
margin-left: 0.5em;
cursor: pointer;
}

#results {
background: #dddada;
color: 000000;
padding: 3px;
margin-left: 600px;
margin-bottom: 50px;
text-align: center;
width: 200px;
cursor: pointer;
border: 1px solid gray;
font-family: 'Hind', sans-serif;
}

#results:hover {
background: #3d91b8;
color: #ffffff;
padding: 3px;
text-align: center;
width: 200px;
cursor: pointer;
border: 1px solid gray;
}

#categorylist {
margin-top: 6px;
display: none;
}

#category1, #category2, #category3, #category4, #category5, #category6, #category7, #category8, #category9, #category10, #category11 {
display: none;
}

#closing {
display: none;
font-style: italic;
}

.question {
text-align: left;
padding-left: 550px;
}

.answers {
font-family: 'Hind', sans-serif;
padding-left: 585px;
}
