h1 {
  color: #001BD9;
  text-align: center;
  font-size: 60px;
  font-family: 'Hind', sans-serif;
}

h2 {
  text-align: center;
  font-family: 'Hind', sans-serif;
  font-size: 30px;
}

body {
  background-color: white;
}

#page {
  margin-right: 200px;
  margin-left: 200px;

}

p {
  color: black;
  text-align: center;
  font-family: 'Dosis';
  font-size: 20px;
}

#navigation {
    color: white;
    display: flex;
    list-style-type: none;
    margin: auto;
    margin-right: 20px;
    margin-left: 20px;
    padding: 7px 50px;
    font-size: 20px;
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    justify-content: space-around;
    background-color: #001BD9;
    overflow: hidden;
    border: none;
    border-radius: 10px;

  }


.nav {
    display: inline;
    color: white;
    text-decoration: none;
    font-family: 'Hind', sans-serif;
}
