<!DOCTYPE html>

<html>
  <head>
    <title>Anxiety</title>
    <link rel = "stylesheet" href = "../resources/aesthetic.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../resources/depression.js"></script>



{% include "navigation.html" %}

<h1> Anxiety </h1>

<p> College students throughout the world face anxiety in one shape of form or another. It can be
  through worrying for an upcoming test to starting a new job.

<h3> What are the signs and symptoms of anxiety? </h3>

<ul>
  <li> Generalized Anxiety Disorder: People display excessive anxiety or worry for months
     and face several anxiety-related symptoms. Symptoms include muscle tension, being
     easily fatigued, difficulty concentration, sleep problems. </li>
  <li> Panic Disorder: Recurrent unexpected panic attacks, which are sudden periods of
    intense fear that may include palpitations, pounding heart, or accelerated heart rate; sweating </li>
  <li> Social Anxiety Disorder: a marked fear of social or performance situations in which they expect to feel
     embarrassed, judged, rejected, or fearful of offending others. </li>


<h3> What treatments will I be expecting to get? </h3>
  Anxiety disorders are treated with pyschotherapy, medication, or both.

  <h3> Pyschotherapy: </h3>
  <ul>
    <li> Cognitive Behavioral Therapy: Teaches a person different ways of thinking,
       behaving, and reacting to anxiety-producing and fearful situations </li>
    <li> Self Help Groups: Sharing problmes and expressing yourself is a
      great way to release stess and get some postive feedback. </li>
    <li> Stress-Management Techniques: Avoiding caffine, exercising, and breathing
      exercises are well known to help cure anxiety. </li>

      <p> Below is a video of a breathing technique could be used to cure your anxiety. </p>


      <div style="position:relative;height:0;padding-bottom:35%"><iframe
        src="https://www.youtube-nocookie.com/embed/O2ZlQRKgm5Y?rel=0&amp;controls=0&amp;showinfo=0"
        width="500" height="400" frameborder="0" allowfullscreen>
        </iframe></div>

    <h3> Medications: </h3>
    <p> The following will be prescribed to you: </p>
    <ul>
      <li> Antidepressants: Lexapro, Cymbalta, etc. </li>
      <li> Antianxiety: Xanax, Clonazepam, etc. </li>
      <li> Beta Blockers: Tenormin, Cardicor, etc. </li>
    <p> It is important to note that you must not overdose on these medications despite how you are feeling. </p>
