<!DOCTYPE html>

<html>
  <head>
    <title>UNWIND</title>
    <link rel = "stylesheet" href = "resources/aesthetic.css">
    <!--Link template, scripts (js), and styles here. --->

  </head>


  <body><br>
<a id="home" href=welcome><b>HOME</b></a>

    <audio loop>
      <source src="resources/manatees.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>


<!------------------------------------------------------------------------------------->
<!---=-=-=-=-=-=-=-=-=SLIDESHOW-------------------------------------------------------->
<!------------------------------------------------------------------------------------->
  <meta name="viewport" content="width=device-width">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="resources/background.cycle.js"></script>
  <script type="text/javascript">
      $(document).ready(function() {



          $("body").backgroundCycle({
              imageUrls: [
                'resources/images/one.jpg',
                'resources/images/four.jpg',
                'resources/images/five.jpg',
                'resources/images/six.jpg',
                'resources/images/seven.jpg',
                'resources/images/eight.jpg',
                'resources/images/nine.jpg'
              ],
              fadeSpeed: 2000,
              duration: 5000,
              backgroundSize: SCALING_MODE_COVER
          });

          $("audio").trigger('play');
      });
  </script>
<!--<body style="margin: 0;"> -->
  <div class='centre-container'>
  </div>
<!------------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------------->
<!---words--->

<div class="quote" id="content-1">“To believe in the heroic makes heroes.”</div>
<div class="quote" id="content-2">Remember to breathe.</div>
<div class="quote" id="content-3">Treat yourself with kindness and respect.</div>
<div class="quote" id="content-4">“Either you run the day, or the day runs you.”</div>
<div class="quote" id="content-5">Take care of yourself. Eat well.</div>
<div class="quote" id="content-6">“If not us, who? If not now, when?”</div>
<div class="quote" id="content-7">Volunteer your energy to help someone else.</div>
<div class="quote" id="content-8">“Education costs money, but so does ignorance.”</div>
<div class="quote" id="content-9">Seeking help is a sign of strength.</div>
<div class="quote" id="content-10">“Every noble work is at first impossible.”</div>
<div class="quote" id="content-11">Start your day with a cup of co­ffee.</div>
<div class="quote" id="content-12">“Defeat is not bitter unless you swallow it.”</div>
<div class="quote" id="content-13">Show some love to someone in your life.</div>
<div class="quote" id="content-14">“The best revenge is massive success.”</div>
<div class="quote" id="content-15">Take time to laugh.</div>
<div class="quote" id="content-16">“It is not enough to aim, you must hit.”</div>
<div class="quote" id="content-17">Relax in a warm bath once a week.</div>
<div class="quote" id="content-18">“An obstacle is often a stepping stone.”</div>
<div class="quote" id="content-19">Time with animals lowers the stress hormone.</div>
<div class="quote" id="content-20">“Eighty percent of success is showing up.”</div>

<script>
var divs = $('div[id^="content-"]').hide(),
    i = 0;

(function cycle() {

    divs.eq(i).fadeIn(1000)
              .delay(3000)
              .fadeOut(1000, cycle);

    i = ++i % divs.length;
})();
</script>
<!------------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------------->

  </body>
</html>
