<!DOCTYPE html>

<html>
  <head>
    <title>Depression</title>
    <link rel = "stylesheet" href = "../resources/aesthetic.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../resources/depression.js"></script>

    <body>
      {% include "navigation.html" %}
      <h1> Depression </h1>

    <p> Today, many college students are going through depression. Many students,
      including first years, are having trouble adjusting to their new lives or miss their
      home and families. You are not alone! </br>

      According to American Psychological Association, more than 1/3 of students in the US
      have gone through depression in the last year. The following infografic puts the
      statistic in perspective: </br>

      <img src="images/depression.jpg" alt="stats" style="width:400px;height:400px;"> </br>

      It is important to recognize that depression is a mental health issue, and it is important that
      you get help.

      <h3> Different Types of Depression: </h3>
      <p> Depression comes in all different kinds of forms: </P>
        <ul>
          <li> Persistent sadness </li>
          <li> Feelings of hopelessness </li>
          <li> Feelings of guilt or worthlessness </li>
          <li> Decreased energy, fatigue </li>
          <li> Difficulty sleeping </li>
          <li> Loss of concentration </li>
          <li> Thoughts of suicide </li>
          <li> Restlessness/Irritablity
          <li> Persistent physical symptoms, such as headaches </li>

      <h3> Where can I get help? </h3>
          <p> Most colleges provide a counseling centers, student health
            services, or both. If you have depression that is in the way
            of fulflilling your school work, you should make an appointment
            as soon as possible. This This can be a doctor or health care provider
            in your school, off-campus, or in your hometown. If you're doctor
            finds other problems, he can refer you to a psychiatrist, counselor, or
            psychologist.

          </br>

         It is IMPORTANT that if you have thoughts of suicide you should call
          1-800-273-8255, for FREE 24-hour help, call campus security, or
          call 911.

          <h3> What treatment(s) will I get?  </h3>

          A therapist will help you manage your feelings and moods through various
          methods:
          <ul>
              <li> Cognitive Behavioral Talk Therapy: Focuses on thoughts,
              behaviors, and feelings related to depression </li>
              <li> Interpersonal Talk Therapy:
                focuses on working on relationships </li>
              <li> Dialectical Behavior Therapy: useful when depression is
                accompanied by self-destructive or self-harming
                behavior </li>
              <li> Prescribing medications: Lexapro,
                Cymbalta, Nardil,etc </li>
          </ul>

      <p> The following video demonstrates that everyone is vulnerable
        to depression. Please note again that you are not alone! </p>

        <div style="position:relative;height:0;padding-bottom:35%"><iframe
          src="https://www.youtube-nocookie.com/embed/yOx0Q273AsQ?rel=0&amp;controls=0&amp;showinfo=2" 
          width="500" height="400" frameborder="0" allowfullscreen>
          </iframe></div>
