<!DOCTYPE html>

<html>
  <head>
    <title>Drugs/Alcohol Abuse</title>
    <link rel = "stylesheet" href = "../resources/aesthetic.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../resources/drugs.js"></script>

    <body>
      {% include "navigation.html" %}
      <h1 > Alcohol and Drug Abuse </h1>

      <h2 id=title1> Alcohol </h2>
      <p id=paragraph1>  Alcohol is the leading cause of death for college students than all other
        drugs combined. </br> </br>

        Most college students have a lot of pressure to drink, especially when trying to
        make friends. According to the National Institues of Health (NIH), about 50% college
        sudents have reported to binge drink, which is defined as drinking too much in a short
        period of time.</br></br>

        The video below shows the "science" of being addicted to alcohol:</br>

      <div align="center" id= youtube1 style="position:relative;height:0;padding-bottom:35%"><iframe
        src="https://www.youtube-nocookie.com/embed/vkpz7xFTWJo?rel=0&amp;controls=0&amp;showinfo=0?ecver=2"
        width="500" height="400" frameborder="0" allowfullscreen>
        </iframe></div>

        <p> Alcohol can not only cause problems in your health, but it can also cause trouble in
          your academics, relationships, and families. </br>

          The following are consequences you can face if you drink too much:
        <dl>
        <dt> Social-Related:
          <dd> -sexual assult </dd>
          <dd> -date rape </dd>
          <dd> -commiting criminal activities </dd>
        <dt> Academic-Related:
          <dd> -performing poorly in class </dd>
          <dd> -lower concentration levels</dd>
          <dd> -little to no participation in class or extra cirricular activities </dd>
        <dt> Health-Related:
          <dd> -Liver Damage </dd>
          <dd> -High Blood Pressure </dd>
          <dd> -Alcohol Use Disorder (AUD) </dd>
          <dd> -Death </dd>


          <h3> What Can I Do to Stop This Addiction? </h3>
          <ul>
            <li> Know your alcoholic craving triggers </li>
            <li> Eat a balanced diet </li>
            <li> Exercise </li>
            <li> Keep a journal and log how many times you drink per day </li>
            <li> Set a goal for yourself, but do not quit all at once. Plan days when you
              will allow yourself to drink and days when you will not drink at all </li>
            <li> Beware of the consequences  </li>
          </ul>

          <h3> But Wait...There's More!</h3>
          <ul>

            <li> You can go to this  <a href="https://www.addiction.com/meetingfinder/"> website </a> to find
             a support group near you! </li>

             <li> <a href="http://www.aa.org/"> Alcoholic Anonymous  </a> is another good support group that can
             help you meet people with similar problems. </li>










          <h2> Drugs </h2>
          <p> Substances commonly abused by students in college include:</p>
          <ul>
            <li> Marijuana </li>
            <li> Prescription medications (including antidepressants and narcotics)</li>
            <li> Over-the-Counter drugs </li>
            <li> Cocaine </li>
            <li> Heroin </li>
            <li> Ectasy </li>
          </ul>

          <p> Especially in college, it is easy to distribute illegal drugs because many students
            want to get high or perform better in class, as in the case of adderall.</br>


            <h3> Recognizing Addiction: </h3>

            <p> Here are a few warning signs to look for if you think that you're addicted to drugs:
              <ul>
                <li> Poor academic performance </li>
                <li> Drastic changes in weight </li>
                <li> Isolation </li>
                <li>Trouble with the law </li>
                <li> Agitation </li>
                <li> Skipping classes </li>
                <li> Lack of motivation </li>
                <li> Forgetfulness </li>
              </ul>

              <h3> Getting Help: </h3>
            </p> It is very hard to quit drugs by yourself. The video below explains why: </p>
            <div style="position:relative;height:0;padding-bottom:35%"><iframe
              src="https://www.youtube-nocookie.com/embed/zV6zKmt7S5E?rel=0&amp;controls=0&amp;showinfo=0?ecver=2"
              width="500" height="400" frameborder="0" allowfullscreen>
              </iframe></div>

              The <a href="https://www.aaap.org/"> American Academy of Addiction Psychiatry (AAAP)  </a> has a
              <a href="https://www.aaap.org/?page_id=658?sid=658"> referal program </a> so that you can get a specialist to start
              helping you stop this addiction.

              You can also call 1-800-662-4357 to get advice oon how to find a treatment center.

              <h3> What if this costs me too much money? </h3>

              <p> Your health insurance may cover substance abuse treatment services. The Mental Health Parity and Addiction Equity Act
                under the Affordable Care Act ensures that health plan features like co-pays, deductibles, and visit limits are generally
                not more restrictive for mental health and substance abuse disorder benefits than they are for medical and
                surgical benefits. </p>

              <h3> I want to keep my addiction confidential. What can I do? </h3>

              <p> There are several things you can do:
                <ul>
                  <li> Check your school's policy to see if you can take a leave of abscence. </li>
                  <li> Doctors or other health providers will not be able to discuss your issue due to privacy laws without
                  your permission </li>
                  <li> Keep a journal or use our VentBot to help you express your feelings! </li>










        </p>


</head>
</html>
