<!DOCTYPE html>

<html>
  <head>
    <title>Eating Disorders</title>
    <link rel = "stylesheet" href = "../resources/aesthetic.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../resources/depression.js"></script>



{% include "navigation.html" %}

<h1> Eating Disorders </h1>

<p> Transitional periods have often been identified as triggers in those who may be struggling
   with an eating disorder, and students are not exempt from the vulnerabilities that may
    be experienced as they start the school year, especially if they are barley entering
    college. </p>

<h3> Types of Eating Disorders: </h3>
<ul>
  <li> Anorexia- Students often avoid eating, so that they can become extremely thin. Sights include:
an intense drive for thinness, fear of becoming fat, and distorted body image </li>
<li> Bulimia- Students typically “binge and purge," meaning eating a lot of food, and then
  vomitting it out </li>
  <li> Binge eating- Uncontrollable, excessive eating, followed by feelings of shame and guilt </li>
</ul>

<h3> Types of Eating Disorder Treatment: </h3>
<ul>
  <li> Outpatient: Includes see a nutritionist, therapist and other recovery professional </li>
  <li> Intensive Outpatient: Includes individualized therapy,
    personalized nutrition consultation, topic-focused groups, and/or family support groups  </li>
  <li> Inpatient / Hospital Treatment: 24/7 care monitoring your food intake </li>
  <li> Entertainment: Art Therapy, Dance Movement Therapy
</ul>

<p>The following are links to learn more about eating disorders and the treatment:<p>

<ul>
  <li>  <a href="https://www.eatingdisorderhope.com/treatment-for-eating-disorders/types-of-treatments/treat-eating-disorders-with-somatic-experiencing">
    Somatic Treatment </a> </li>
    <li>  <a href="https://childmind.org/article/eating-disorders-and-college/"> Explaining Eating Disorders for Students  </a> </li>
    <li>  <a href="https://college.usatoday.com/2015/02/26/college-students-share-their-most-intimate-struggles-with-eating-disorders-part-i/"> Personal Stories About Eating Disorders from College Students  </a> </li>
    <li>  <a href="http://www.anad.org/get-information/about-eating-disorders/eating-disorders-statistics/"> Eating Disorder Statistics  </a> </li>

<p> The following shows a personal experience from somebody who overcame an eating disorder: </p>
    <div style="position:relative;height:0;padding-bottom:35%"><iframe
      src="https://www.youtube-nocookie.com/embed/umUj4GYJNFs?rel=0&amp;controls=0&amp;showinfo=2"
      width="500" height="400" frameborder="0" allowfullscreen>
      </iframe></div>
