<!DOCTYPE html>

<html>
  <head>
    <title>Resources</title>
    <link rel = "stylesheet" href = "../resources/aesthetic.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../resources/resources.js"></script>
    <style>
    @import url('https://fonts.googleapis.com/css?family=Cabin|Hind|Dosis');
    </style>
    <!--Link template, scripts (js), and styles here. --->
  </head>

  <body>
    {% include "navigation.html" %}
  <h1 id=info_title> Resources </h1>
  <h3 id=instructions> Click on the following buttons below to learn more about mental health. </h3>
  <table id=index>
    <td id="drug_abuse" onclick="location.href='drug_abuse'" class="">Drug/ <br/> Alcohol Abuse</td>
    <td id="depression" onclick="location.href='depression'" class="">Depression</td>
</table>


<table id=index>
<td id="anxious" onclick="location.href='anxious'" class="">Anxiety</td>
<td id="eating_disorder" onclick="location.href='eating_disorder'" class="">Eating Disorder</td>
</table>


  </body>

</html>
