<!DOCTYPE html>

<html>

  <body>

        {% for k,v in quiz_results.items() %}
          <h1>Key: {{k}}</h1>
          <h2>Value: {{v}}</h2>
        {% endfor %}

        {{ common_answer }}

        <!-- <h1>Your results are</h1>

        <p>{{ quiz_results }}</p>

        <p>{{ q2 }}</p>

        <p>{{ q3 }}</p>

        <p>{{ q4 }}</p>

        <p>{{ q5 }}</p>

        <p>{{ q6 }}</p>

        <p>{{ q7 }}</p>

        <p>{{ q8 }}</p>

        <p>{{ q9 }}</p>

        <p>{{ q10 }}</p> -->

  </body>

</html>
