<!DOCTYPE html>

<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="../resources/aesthetic.css">
    <!--Link template, scripts (js), and styles here. --->

    <style>
@import url('https://fonts.googleapis.com/css?family=Cabin|Hind|Dosis');
    </style>

  </head>

  <body>

    <h1>College Confidence</h1>

    {% include "navigation.html" %}

    <div id="page">


      <div id="welcome">

        <h2>Welcome</h2>

        <p> This is a safe space for you to learn more about yourself, be heard, and relax. </p>

        <p>Mental health is a vital part of succeeding in college.

        <p>Many people struggle with anxiety, depression, or eating disorders.
          Often, the stress of transitioning
          to college life can have an effect on your mental health.</p>

        <h2>Mission Statement</p>

        <p>At College Confidence, we aim to help you deal with
          this transition by providing helpful resources and theraputic features.</p>

      </div id="welcome">

    </div id="page">

  </body>
</html>
