<!DOCTYPE html>

<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="../resources/aesthetic.css">
    <!--Link template, scripts (js), and styles here. --->

    <style>
@import url('https://fonts.googleapis.com/css?family=Cabin|Hind|Dosis');
    </style>

  </head>


  <body>




    <h1>College Confidence</h1>

    <ul id="navigation">
      <li ><a class="nav" href=welcome.html>Home</a></li>&nbsp;
      <li ><a class="nav" href=ventbot.html>Ventbot</a></li>&nbsp;
      <li ><a class="nav" href=quizzes.html>Quizzes</a></li>&nbsp;
      <li ><a class="nav" href=chillroom.html>Chill Room</a></li>&nbsp;
      <li ><a class="nav" href=info.html>Mental Health Resources</a></li>&nbsp;
      <li ><a class="nav" href=listener.html>Match Listener</a></li>&nbsp;
    </ul>

    <div id="page">


    <h2>Welcome</h2>

    <p> This is a safe space for you to learn more about yourself, be heard, and relax. </p>

    <p>Mental health is a vital part of succeeding in college.

    <p>Many people struggle with anxiety, depression, or eating disorders.
      Often, the stress of transitioning
      to college life can have an effect on your mental health.</p>

    <h2>Mission Statement</p>

    <p>At College Confidence, we aim to help you deal with
      this transition by providing helpful resources and theraputic features.</p>

      <div id="page">

  </body>
</html>
