<!DOCTYPE html>

<html>
  <head>
    <title>Welcome to College Confidence</title>
    <link rel="stylesheet" href="../resources/aesthetic.css">
    <!--Link template, scripts (js), and styles here. --->

    <style>
@import url('https://fonts.googleapis.com/css?family=Cabin|Hind|Dosis');
    </style>

  </head>

  <body>

    <h1>College Confidence</h1>

    {% include "navigation.html" %}

    <div class="page">


      <div id="welcome">

        <h2>Mission Statement</h2>

        <p>Often, the stress of transitioning
        to college life can affect your mental health, </p>

        <p>At College Confidence, we aim to help you deal with
          this transition by providing helpful resources and theraputic features.</p>

        <p>This is a safe space for you to learn more about yourself, be heard, and relax.</p>


      <br>

      </div id="welcome">

      <p class="disclaimer"><strong>DISCLAIMER:</strong></p>

      <p class="legal"><i>This website was not made by medical professionals.
        Please seek professional help if you need it.</i>
        <br><br>
        <b>National Suicide Prevention Lifeline (available 24 hours)</b>
        Call 1-800-273-8255
      </p>

      <br>

    </div class="page">

  </body>
</html>
